@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 .editButton:hover {
transition-duration: 0.02s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.css {
  margin: 10px auto;
}
.class {
  color: #2626ca;
  text-align: center;
}
.cardh6 {
  color: #2b2ace;
  margin-top: 20px;
  font-size: 20px;
}
.buttonEdit {
  text-align: center;
}
.paragraphEdit {
  color: #484849;
}
.divHome {
  background-image: url("./assets/img/blue-background-4863452_1280.jpg");
  padding: 60px;
  text-align: center;
  color: white;
  margin: 85px 0px;
  /* height: 100vh; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 435px;
  text-align: center;
}
#h4Edit {
  margin: 30px;
}
#jakar {
  color: white;
  font-size: 15px;
  font-weight: bolder;
}
span {
  font-weight: bolder;
  padding-right: 30px;
  font-size: 25px;
}
#cards_landscape_wrap-2 {
  text-align: center;
  /* background: #F7F7F7; */
}
#cards_landscape_wrap-2 .container {
  /* padding-top: 80px; */
  padding-bottom: 100px;
}
#cards_landscape_wrap-2 a {
  text-decoration: none;
  outline: none;
  color: #2b2ace;
}
#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box {
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box img {
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  width: 100%;
  height: 200px;
}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img {
  opacity: 0.7;
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}
#cards_landscape_wrap-2 .card-flyer .text-box {
  text-align: center;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container {
  padding: 30px 18px;
}
#cards_landscape_wrap-2 .card-flyer {
  background: #ffffff;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
}
#cards_landscape_wrap-2 .card-flyer:hover {
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}
#cards_landscape_wrap-2 .card-flyer .text-box p {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #413f3f ;
  font-weight: bolder;
}
#cards_landscape_wrap-2 .card-flyer .text-box h6 {
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto Black", sans-serif;
  letter-spacing: 1px;
  color: #232324;
}
#cards_landscape_wrap-2 .card-flyer .text-box h1 {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #1a1919 ;
}
.bg {
  background-image: url("./assets/img/blue-background-4863452_1280.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  text-align: center;
}

.convForm {
  border: 1px solid rgba(0, 0, 0, 0.253);
  margin: 50px auto;
  /* background-color: rgba(255, 0, 0, 0.021); */
}

.btnForm {
  margin-top: 20px;
  width: 100px;
  height: 50px;
}
.lableForm {
  font-size: 1.2em;
}

.inputForm {
  height: 50px;
}

.pull-right {
  text-align: right;
}

.bgText {
  padding-top: 200px;
  color: white;
}
.test {
  display: block;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;

  margin-top: 30px;
  margin-right: 0px;
  margin-left: 25px;
}
.test2 {
  margin: 0px 0px;
}
#root > div > form > div.row > div:nth-child(3) {
  text-align: center;
}
.headerColor {
background-color: white;
 
}
.navbar {
  height: 4.5rem;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  box-shadow: rgb(0 0 0 / 75%) 0px 14px 14px -14px;
  z-index: 99;
  margin-bottom: 0rem;
}
.fixed {
  position: fixed;
  top: 0;
}

.logo {
  margin : 4.5rem 1.2rem 4rem 1.2rem;
}

.item:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
}
.navbar-light .navbar-nav .nav-link {
  font-family: 'Lato', sans-serif;
  font-size:  1.25rem;
  font-weight: bolder; 


}



.w-100 {
  width: 100% ;
  height: 28rem;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 35px ;
}

.carousel-indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 9px ;
  height: 8px ;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #f0ebcc8f ;
  background-clip: content-box ;
  border-top: 10px solid transparent;
  border-bottom: 17px solid transparent ;
  opacity: 0.7 ;
  transition: opacity 0.6s ease;
}

.navbar-expand .navbar-nav .nav-link {
  padding-right: 1.5rem;
  padding-left: 0.5rem;
}

.headerEn {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 99;
}
.edit{
  justify-content: center ;
}
.editButtonForm{
  text-align: center;
}
#root > div  div.headerEn  nav >div  a{
color: #254288;
}
.editDivPar{
  text-align: center;
}
 
 
.div-icons {
text-align: center;

}
.div-icons a {
  margin-bottom: 10px; 
}
.dim-footer {
  padding-top: 0.05px;
  margin-top: 40px;
  background-color: #162b5d;
  color: #f0ebcc;
     
}

.hrdim {
  margin: 1px auto;
}
 
 
.paragraphEditAboutUs{
  width: 60%;
  margin: 15px auto;
  text-align: center;
}
.paragraphEditAboutUs hr {
  margin-top: 25px;
color: rgb(121, 118, 129);
}
.newButton{
    margin-top: 35px;
    height: 50px;
}
.rounded {
border-radius: 50%;
}
.newEdit{
    text-align: center;
}
.editImage{
  border: rgba(36, 33, 240, 0.404) 1px solid;
  /* display: block; */
  /* border-radius: 50%; */
   /* width: 10px; 
  height: 90px;  */
  /* text-align: center; */
  /* margin-top: 30px; */
  /* margin-right: 0px; */
  /* margin-left: 25px; */
}
.editDivaInfo {
  border: 1px solid rgba(0, 0, 0, 0.253);
  margin: 50px auto;
  /* background-color: rgba(255, 0, 0, 0.021); */
}