@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.headerColor {
/* background-color: #f0ebcc; */
/* background-color: whitesmoke; */
background-color: white;
}
.navbar {
  height: 4.5rem;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  /* background-color: var(--main-color); */
  box-shadow: rgb(0 0 0 / 75%) 0px 14px 14px -14px;
  z-index: 99;
  margin-bottom: 2rem;
}
.fixed {
  position: fixed;
  top: 0;
}

.items {
  display: flex;
  margin-left: 50rem;
   
}
.logo {
  margin : 4.5rem 1.2rem 4rem 1.2rem;
  
   
}

.items .item {
 
  display: inline-block;
  


}
.mr-auto, .mx-auto {
  margin-right: auto!important;
  margin-left: 35rem !important;
  
}

.items .item a {
  text-decoration: none;
  color: #3d84b8;
  /* border: solid var(--main-color) 1px; */
   
  position: relative;
  font-family: 'Lato', sans-serif; 
  
  
}

.item:hover {
  transform: scale(1.25);
  transition-duration: 0.2s;
  /* background-color:#3d84b8 transparent !important; */
  /* border: solid red 1px; */
  /* border-right: none;
  border-left: none; */
  /* padding: 0.1rem; */
}   

.navbar-light .navbar-nav .nav-link {
  color:#344fa1e5 !important;
    /* padding: 2rem 3rem 2rem 1.5rem;   */
  font-family: 'Lato', sans-serif;
  font-size:  1.25rem;
  font-weight: bolder; 
  
}
.mr-auto * { 
  margin: 4rem .25rem 4rem .25rem ;
}

.btn-outline-primary:hover {
  color: white;
  background-color: #007bff;
  border-color: #007bff;
  border: 3px solid whitesmoke !important;
  /* box-shadow: rgba(0, 0, 0, 0.103) 2px 2px 2px 2px; */
   

}

.btn-outline-primary {
 
  margin-right: 2rem;
  
}

 
 
.w-100 {
  /* FONT-VARIANT: JIS04; */
  width: 100% !important;
  height: 28rem;
}

.btn {
  cursor: pointer;  
  border: 2px solid #3d84b8 !important;
  padding: .5rem 1.4rem .5rem 1.4rem !important;
  font-size: 1.3rem !important;
  line-height: 1.5 !important;
  border-radius: .75rem !important;
  
}
/* .btn:hover {
   
  /* transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;  
  transform: scale(1.25);
transition-duration: 0.02s;  
} */

.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  width: 35px !important;
 
}

.carousel-indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 9px !important;
  height: 8px !important;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer  ;
  background-color: #f0ebcc8f !important;
  background-clip:content-box !important;
  border-top: 10px solid transparent;
  border-bottom: 17px solid transparent !important;
  opacity: .7 !important;
  transition: opacity .6s ease;
  
}
 
.navbar-expand .navbar-nav .nav-link {
  padding-right: 1.5rem;
  padding-left: .5rem;
}