@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
@import 'https://fonts.googleapis.com/css?family=Raleway';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 .editButton:hover {
transition-duration: 0.02s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.css {
  margin: 10px auto;
}
.class {
  color: #2626ca;
  text-align: center;
}
.class1 {
  color: #2626ca;
 margin-right: 5rem !important;
}
.cardh6 {
  color: #2b2ace;
  margin-top: 20px;
  font-size: 20px;
}
.buttonEdit {
  text-align: center;
}
.paragraphEdit {
  color: #484849;
}
.divHome {
  background-image: url("./assets/img/blue-background-4863452_1280.jpg");
  padding: 60px;
  text-align: center;
  color: white;
  margin: 85px 0px;
  /* height: 100vh; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 435px;
  text-align: center;
}
#h4Edit {
  margin: 30px;
}
#jakar {
  color: white;
  font-size: 15px;
  font-weight: bolder;
}
span {
  font-weight: bolder;
  padding-right: 30px;
  font-size: 25px;
  display: none;
}
#cards_landscape_wrap-2 {
  text-align: center;
  /* background: #F7F7F7; */
}
#cards_landscape_wrap-2 .container {
  /* padding-top: 80px; */
  padding-bottom: 100px;
}
#cards_landscape_wrap-2 a {
  text-decoration: none;
  outline: none;
  color: #2b2ace;
}
#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box {
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box img {
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  width: 100%;
  height: 200px;
}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img {
  opacity: 0.7;
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}
#cards_landscape_wrap-2 .card-flyer .text-box {
  text-align: center;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container {
  padding: 30px 18px;
}
#cards_landscape_wrap-2 .card-flyer {
  background: #ffffff;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
}
#cards_landscape_wrap-2 .card-flyer:hover {
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}
#cards_landscape_wrap-2 .card-flyer .text-box p {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #413f3f ;
  font-weight: bolder;
}
#cards_landscape_wrap-2 .card-flyer .text-box h6 {
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto Black", sans-serif;
  letter-spacing: 1px;
  color: #232324;
}
#cards_landscape_wrap-2 .card-flyer .text-box h1 {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #1a1919 ;
}
.bg {
  background-image: url("./assets/img/blue-background-4863452_1280.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  text-align: center;
}

.convForm {
  border: 2px solid #0d6efd;
   border-radius: 5px;
   background-color: hsla(216, 98%, 52%, 0.151);
  margin: 50px auto;
  /* background-color: rgba(255, 0, 0, 0.021); */
}

.btnForm {
  margin-top: 20px;
  width: 100px;
  height: 50px;
  margin-right: 14px;
  border : 2px solid   !important;
   
}
.lableForm {
  font-size: 1.2rem;
  margin: 2rem 1rem 1rem 0rem;
  font-family: 'Noto Sans JP', sans-serif;

}
  .text-secondary1 {
    padding-left: 199px !important;
  }
 

.inputForm {
  height: 50px;
  width: 14.7rem !important ;
 }

 .inputTO {
   margin-left:-90px !important ;
 }

.pull-right {
  text-align: right;
}

.bgText {
  padding-top: 200px;
  color: white;
}
.test {
  display: block;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;

  margin-top: 59px;
  margin-right: 50px;
  margin-left: -40px;
}
.test2 {
  margin: 0px 0px;
}
#root > div > form > div.row > div:nth-child(3) {
  text-align: center;
}
.headerColor {
background-color: white;
 
}
.navbar {
  height: 4.5rem;
  width: 100%;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  box-shadow: rgb(0 0 0 / 75%) 0px 14px 14px -14px;
  z-index: 99;
  margin-bottom: 0rem;
}
.fixed {
  position: fixed !important;
  top: 0;
}

.logo {
  margin : 4.5rem 1.2rem 4rem 0rem;
}

.item:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
}
.navbar-light .navbar-nav .nav-link {
  font-family: 'Lato', sans-serif;
  font-size:  1.25rem;
  font-weight: bolder; 


}



.w-100 {
  width: 100% ;
  height: 28rem;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 35px ;
}

.carousel-indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 9px ;
  height: 8px ;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #f0ebcc8f ;
  background-clip: content-box ;
  border-top: 10px solid transparent;
  border-bottom: 17px solid transparent ;
  opacity: 0.7 ;
  transition: opacity 0.6s ease;
}

.navbar-expand .navbar-nav .nav-link {
  padding-right: 1.5rem;
  padding-left: 0.5rem;
}

.headerEn {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 99;
}
.edit{
  justify-content: center ;
}
.editButtonForm{
  text-align: center;
}
#root > div  div.headerEn  nav >div  a{
color: #254288;
}
.editDivPar{
  text-align: center;
}
 
 
.div-icons {
text-align: center;

}
.div-icons a {
  margin-bottom: 10px; 
}
.dim-footer {
  padding-top: 0.05px;
  margin-top: 20px;
  background-color: #254288;
  color: #f0ebcc;
  height: 50px;
     
}

.hrdim {
  margin: 1px auto;
  
}

 
 
.paragraphEditAboutUs{
  width: 60%;
  margin: 15px auto;
  text-align: center;
}
.paragraphEditAboutUs hr {
  margin-top: 25px;
color: rgb(121, 118, 129);
}



/* HEADER ITEMS _______________________________________________________*/
 
html, body
{
    margin: 0px;
}

header 
{
    font-family: Raleway;
    margin: 0 auto;
	padding: 5em 3em;
	text-align: center;
    background: #555;
}

header h1
{
    color: #AAA;
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 5px;
}

header span
{
    color: #222;
}
 

div.container
{
    font-family: Raleway;
    margin: 0 auto;
	padding: 10em 3em;
	text-align: center;
}

div.container a
{
    color: #2b2ace;
    font-weight: bolder;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

 
/* Top and Bottom borders go out */
div.topBotomBordersOut a:before, div.topBotomBordersOut a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersOut a:before
{
    top: 0px;
    transform: translateY(10px);
}

div.topBotomBordersOut a:after
{
    bottom: 0px;
    transform: translateY(-10px);
}

div.topBotomBordersOut a:hover:before, div.topBotomBordersOut a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}

/* Top and Bottom borders come in */
div.topBotomBordersIn a:before, div.topBotomBordersIn a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersIn a:before
{
    top: 0px;
    transform: translateY(-10px);
}

div.topBotomBordersIn a:after
{
    bottom: 0px;
    transform: translateY(10px);
}

div.topBotomBordersIn a:hover:before, div.topBotomBordersIn a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}

/* Top border go down and Left border appears */
div.topLeftBorders a:before
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 2px;
    height: 0px;
    background: #FFF;
    content: "";
    opacity: 1;
    transition: all 0.3s;
}

div.topLeftBorders a:after
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 1;
    transition: all 0.3s;
}

div.topLeftBorders a:hover:before
{
    height: 100%;
}

div.topLeftBorders a:hover:after
{
    opacity: 0;
    top: 100%;
}

/* Circle behind */
div.circleBehind a:before, div.circleBehind a:after
{
    position: absolute;
    top: 22px;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 4px solid #0277bd;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    border-radius: 50%;
    background: transparent;
    content: "";
    opacity: 0;
    transition: all 0.3s;
    z-index: -1;
}

div.circleBehind a:after
{
    border-width: 2px;
    transition: all 0.4s;
}

div.circleBehind a:hover:before
{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
}

div.circleBehind a:hover:after
{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1.3);
}

/* Brackets go out */
div.brackets a:before, div.brackets a:after
{
    position: absolute;
    opacity: 0;
    font-size: 35px;
    top: 0px;
    transition: all 0.3s;
}

div.brackets a:before
{
    content: '(';
    left: 0px;
    transform: translateX(10px);
}

div.brackets a:after
{
    content: ')';
    right: 0px;
    transform: translateX(-10px);
}

div.brackets a:hover:before, div.brackets a:hover:after
{
    opacity: 1;
    transform: translateX(0px);
}


/* Border from Y to X  */
div.borderYtoX a:before, div.borderYtoX a:after
{
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}

div.borderYtoX a:before
{
    left: 0px;
    top: 0px;
}

div.borderYtoX a:after
{
    right: 0px;
    bottom: 0px;
}

div.borderYtoX a:hover:before, div.borderYtoX a:hover:after
{
    opacity: 1;
    height: 2px;
    width: 100%;
}

/* Border X get width  */
div.borderXwidth a:before, div.borderXwidth a:after
{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}

div.borderXwidth a:before
{
    left: 0px;
    top: 0px;
}

div.borderXwidth a:after
{
    right: 0px;
    bottom: 0px;
}

div.borderXwidth a:hover:before, div.borderXwidth a:hover:after
{
    opacity: 1;
    width: 100%;
}

/* Pull down  */
div.pullDown a:before
{
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    top: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullDown a:hover:before
{
    height: 100%;
}

/* Pull up  */
div.pullUp a:before
{
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    bottom: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullUp a:hover:before
{
    height: 100%;
}

/* Pull right  */
div.pullRight a:before
{
    position: absolute;
    width: 2px;
    height: 100%;
    left: 0px;
    top: 0px;
    content: '';
    /* background:  #3d85b834 ; */
    background-color: #3d85b850;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullRight a:hover:before
{
    width: 100%;
}

/* Pull left  */
div.pullLeft a:before
{
    position: absolute;
    width: 2px;
    height: 100%;
    right: 0px;
    top: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullLeft a:hover:before
{
    width: 100%;
}

/* Pull up and down  */
div.pullUpDown a:before, div.pullUpDown a:after
{
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullUpDown a:before
{
    top: 0px;
} 

div.pullUpDown a:after
{
    bottom: 0px;
}

div.pullUpDown a:hover:before, div.pullUpDown a:hover:after
{
    height: 100%;
}

/* Pull right and left  */
div.pullRightLeft a:before, div.pullRightLeft a:after
{
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullRightLeft a:before
{
    left: 0px;
} 

div.pullRightLeft a:after
{
    right: 0px;
}

div.pullRightLeft a:hover:before, div.pullRightLeft a:hover:after
{
    width: 100%;
}

/* Highlight text out  */
div.highlightTextOut a
{
    color: rgba(255, 255, 255, 0.3); 
}

div.highlightTextOut a:before, div.highlightTextIn a:before
{
    position: absolute;
    color: #FFF;
    top: 0px;
    left: 0px;
    padding: 10px;
    overflow: hidden;
    content: attr(alt);
    transition: all 0.3s;
    transform: scale(0.8);
    opacity: 0;
} 

div.highlightTextOut a:hover:before, div.highlightTextIn a:hover:before
{
    transform: scale(1);
    opacity: 1;
}

/* Highlight text in  */
div.highlightTextIn a
{
    color: rgba(0, 0, 0, 0.4); 
}

div.highlightTextIn a:before
{
    transform: scale(1.2);
} 

/*____________________________________________________________*/

.btn-outline-primary1  {
  color: #344fa1 !important  ;
  
  font-weight: bold !important;
  border: 3px solid !important;
}
 

.btn-outline-primary1:hover  {
    color: white !important;
    background-color: #344fa1d5 !important;
    border-radius: 10px  !important;
}


 .my-footer {
   
   width: 400px;
   
 }
 .my-footer-color {
background-color: #254288;  ;
padding: 1px 1px .1px 1px;
color: white;
 }
.text-footer {
   font-size: 18px  ;
   font-weight: bolder;
 }
 

.icons-position1 a {
  display: inline-block !important;
 
  margin: 0px !important;}
.newButton{
    margin-top: 35px;
    height: 50px;
}
.rounded {
border-radius: 50%;
}
.newEdit{
    text-align: center;
}
.editImage{
  border: rgba(36, 33, 240, 0.404) 1px solid;
  /* display: block; */
  /* border-radius: 50%; */
   /* width: 10px; 
  height: 90px;  */
  /* text-align: center; */
  /* margin-top: 30px; */
  /* margin-right: 0px; */
  /* margin-left: 25px; */
}
.editDivaInfo {
  border: 1px solid rgba(0, 0, 0, 0.253);
  margin: 50px auto;
  /* background-color: rgba(255, 0, 0, 0.021); */
}

.userInfo p  {
  color:#21094ed3 !important;
font-weight: bolder !important;
font-size: 20px !important ;
}

.cardColor1 {
  background-color: hsla(216, 98%, 52%, 0.151) !important;border: 1px solid #0d6efd;
}

.userInfo h6, h3  {
  color:#21094ed3 !important;
 
}

.newButton1 {
  margin-top: 4rem;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  border:solid 2px !important ;
}
 

.deleteProp {
  background-color: rgba(255, 0, 0, 0.747) !important;
  color: white !important;
  font-weight: bold  !important;
}
#root > div > div:nth-child(3) > div > div > div > form > div.row > div:nth-child(3) > div > button{
  
  margin-right: 0px ;
  margin-left: 0px ;

}
 